# Data directories
data/
Neu_Surface

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
ENV/
al_env/

# Experiments and logs

experiments/**/checkpoints/
experiments/**/queries/

*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
.fuse_hidden000084ba00000035
.fuse_hidden000084ba0000003b
